body {
  font-family: "Inter", sans-serif;
  /* background-color: #f8f9fa; */
  margin: 0;
  padding: 0;
}
.full-height {
  height: 100vh; /* Full height of the viewport */
}
.bg-blue {
  background-color: #007bff; /* Warna biru */
}
.naik-gambar {
  margin-top: 0 !important; /* Menghapus margin atas */
  padding-top: 0; /* Menghapus padding atas jika ada */
  position: relative;
  top: 0;
}
.bgputih {
  height: 100vh; /* Pastikan kontainernya memenuhi tinggi layar */
}
